<!DOCTYPE html>
<html lang = "en">
<head>

	<meta charset="UTF-8">
	<title> Map </title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"/>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   		crossorigin=""/>
   		
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   		crossorigin=""></script>
 
</head>

<body>
	<h1 font-family:"Roboto" id = "title">Covid-19 Cases in California Criminal Justice Facilities</h1>
	
	<i class="Hicon"></i>
<ul>
  <li><a href="{{ url_for('main.index') }}" style="text-align:top;"><img src="images/home_button.png" class = "img" alt="home_icon" style="width:32px;height:32px;text-align">&ensp;Home</a></li>
  <li><a href="{{ url_for('main.about') }}">&ensp;About</a></li>
  <li><a href ="{{ url_for('main.help') }}"><img src="images/question_mark.png" alt="help_icon" style="width:32px;height:32px;">&ensp;Help</a></li>
</ul> 
	
	<form method="POST" action="/">
		<label for = "start" id = "datelabel"> Start date: </label>
		<input type = "date" id = "dateselect" value = "4/12/2021" min = "01/01/2020" max = "04/12/2021" name="date"></input>
		<button>submit</button>
	</form>
	<a href = "login.html"><input type = "button" id = "login" value = "Log In"></input> </a>
	<div id = "databox">
		<div id = "subdata_county">County</div>
		<div id = "subdata_stats">Cases:<br>Deaths:<br>Date:</div>
	</div>
		<div id = "p_databox">
		<div id = "p_subdata_county">Prison</div>
		<div id = "p_subdata_stats">Cases:<br>Deaths:<br>Date:</div>
	</div>
	<div id = "p_select">
		<div id = "p_select_top">Select Prison</div>
		<div id = "p_select_stats">Please Select a County</div>
	</div>
	<div id= "mapid" style="width: 800px; height: 600px;"></div>
	<div id = "colorcontainer"><img src = "images/colors.png" class = "colorimg" alt = "color gradient"></img></div>


<script>

	var county_data = JSON.parse( {{data|tojson}});
	console.log(county_data);

	// Map Object
	var mymap = L.map('mapid').setView(new L.LatLng(37, -121), 6);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
	
	// CJF Icon
	var cjf_icon = L.icon({
		iconUrl: 'criminal_justice_facility.png',
		iconSize:		[32, 32],
		 iconAnchor: [10, 41]
	});
	
	L.marker([51.5, -0.09], {icon: cjf_icon}).addTo(mymap);
	
	var hide_prison = null;
	var hide_county = null;
	
	// This function is called on every geojson object	
	function onEachFeature(feature, layer) {
       	 layer.bindPopup(feature.properties.COUNTY_NAME);
       	 layer.setStyle({"color": '#808080', "weight": 1});
       	 
       	 	var i;
       	 	for (i = 0; i < county_data.data.length; i++) {
       	 		if (county_data.data[i][2] == feature.properties.COUNTY_NAME) {
       	 			var cases = county_data.data[i][5];
       	 			
					// These buckets likely need to be expanded
					// Not sure if colors between 1st and last are right
					if (cases < 1000 && cases > 0) {layer.setStyle({"color": "#30cfd0"});}
					if (cases >= 1000 && cases < 5000) layer.setStyle({"color": "#00bcce"});
					if (cases >= 5000 && cases < 10000) {layer.setStyle({"color": "#00adcc"});}
					if (cases >= 10000 && cases < 20000) {layer.setStyle({"color": "#009bc9"});}
					if (cases >= 20000 && cases < 30000) {layer.setStyle({"color": "#0089c4"});}
					if (cases >= 30000 && cases < 40000) {layer.setStyle({"color": "#0076bc"});}
					if (cases >= 40000 && cases < 50000) {layer.setStyle({"color": "#0063b2"});}
					if (cases >= 50000 && cases < 60000) {layer.setStyle({"color": "#0050a4"});}
					if (cases >= 60000 && cases < 80000) {layer.setStyle({"color": "#003c93"});}
					if (cases >= 80000 && cases < 1000000) {layer.setStyle({"color": "#1f267f"});}
					if (cases > 1000000) {layer.setStyle({"color": "#330867"});}

					console.log(cases);
       	 			
       	 			i = 60;
       	 		}
       	 	}
       	 	
		  layer.on('click', function (e) {
             e = feature.properties.COUNTY_NAME;
             var element = document.getElementById("subdata_county");
             element.innerHTML = e;
             console.log(e);
             
             var element2 = document.getElementById("subdata_stats");
             var i;
             for (i = 0; i < county_data.data.length; i++) {
             	if (county_data.data[i][2] == e) {
             		var string1 = "Cases: ";
             		var string2 = county_data.data[i][5];
             		var string3 = "<br>Deaths: ";
             		var string4 = county_data.data[i][6];
             		var string5 = "<br>Date : "; // Convert this to mmddyyyy format
             		var string6 = county_data.data[i][1];
             	
             		element2.innerHTML = string1.concat(string2, string3, string4, string5, string6);
             		
 
             	}
             	
             var prison_top = document.getElementById("p_select_top");
             prison_top.innerHTML = e.concat(" Prisons: ");
             }

    });
	}
	
	function onEachPrisonFeature(feature, layer) {
		
	}
	
	// Retrieve county boundaries
	var url2 = 'http://127.0.0.1:5000/static/json/California_County_Boundaries.geojson';
	var county_bounds = L.geoJSON(null, {
		onEachFeature: onEachFeature,
		pointToLayer: function(feature, latlng) {
			return L.geoJSON(latlng, geojsonMarkerOptions);
		}
		});
		
	// Add county boundaries to map
	$.getJSON(url2, function(data) {
		county_bounds.addData(data);
	});
	
	county_bounds.addTo(mymap);
	
	
	// Retrieve prison locations
	
	var url = 'http://127.0.0.1:5000/static/json/CA_Prison_Boundaries.geojson'; 

	var  geojsonMarkerOptions = {
        'radius':6,
		'opacity': .5,
		'color': "red",
		'fillColor':  "blue",
		'fillOpacity': 0.8
	};
	
	
	var url = "http://127.0.0.1:5000/static/json/CA_Prison_Boundaries.geojson";
	$.getJSON(url, function(data) {
   		prisons.addData(data); 
	});
	
  	var prisons = L.geoJSON(null, {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, geojsonMarkerOptions);
           }
       
        }).addTo(mymap);
        
</script>

</body>